:root {
    --heading-font: "Audiowide", sans-serif;
    --non-heading-font: "Geo", sans-serif;
    --heading_and_accent1-color: rgb(102, 37, 133);
    --accent2-color: rgb(252, 240, 72);
    --background-color-1: rgb(255, 246, 166);
    --background-color-2: rgb(220, 201, 224);
    --text-color: rgb(17, 14, 17);
    --neutral: rgb(238, 238, 238);

}

html {
    color: var(--text-color);
    display: grid;
    max-width: 1400px;
    font-family: var(--non-heading-font);
    font-size: 1.3rem;
    background-color: var(--neutral);
}

h1 {
    font-family: var(--heading-font);
    color: var(--heading_and_accent1-color);
    text-align: center;
    font-size: 2rem;
    background-color: var(--background-color-1);
}

h2 {
    font-family: var(--heading-font);
    color: var(--heading_and_accent1-color);
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-family: var(--heading-font);
    font-size: 1.3rem;
    color: var(--heading_and_accent1-color);
    text-align: center;
}

main {
    display: block;
}

/*cards*/

.card ,.thanks_card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    margin-bottom: 1.5rem;
    border: 7px ridge var(--accent2-color);
    border-radius: 15px;
    background-color: var(--background-color-1);
    box-shadow: inset rgb(17, 14, 17, .75) 5px 5px;
    padding: 1rem 10px;
    max-width: fit-content;
}

img {
    border: 7px ridge var(--accent2-color);
    border-radius: 15px;
    box-shadow: rgb(17, 14, 17, .75) 5px 5px;
    margin: 5px;
    max-width: 400px;
}

.thanks_card {
    grid-column: 2;
    width: auto;
}

/* Gallery */

figure {
    padding: .7rem;
    margin: 0;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
}

/*Navigation*/

.navigation {
    list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--background-color-2);
	align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--heading_and_accent1-color);
    width: auto;
    height: fit-content;
    margin-bottom: 2rem;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
    font-size: 20px;
    font-family: var(--heading-font);
	display: block;
	color: var(--heading_and_accent1-color);
	text-decoration: none;
    padding: 0 8px;
    margin-top: 3px;
    margin-bottom: 1rem;
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: var(--accent2-color);
}

.highlight {
	color: var(--heading_and_accent1-color);
	font-weight: 700;
	font-family: var(--heading-font);
}

#nav_bar {
    display: block;
}

/*Opinion Form*/

.opinion_f fieldset {
    border-top: var(--heading_and_accent1-color) groove 7px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;

}
.opinion_f legend {
    font-family: var(--heading-font);
    font-size: 18px;
    color: var(--heading_and_accent1-color) 
}

.opinion_f label {
    display: block;
    padding-top: .4rem;
    padding-bottom: .4rem;
}

.opinion_f div{
    flex-direction: row;
}

.opinion_f input[type="text"],
.opinion_f input[type="email"],
.opinion_f select, .opinion_f textarea
{
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color:rgb(80, 80, 80);
    appearance: none;
    width: 15rem;
}

.opinion_f input[type="submit"] {
    border: 7px groove var(--heading_and_accent1-color);
    border-radius: 15px;
    background-image: radial-gradient(var(--heading_and_accent1-color),var(--background-color-2));
    color: var(--neutral);
    padding: .6rem;
    width: 96%;
    margin-left: 6px;
    margin-top: 1rem;
    font-family: var(--heading-font);
    font-size: 16px;
}

.opinion_f input:required {
    border-bottom: solid 4px red;
}

.opinion_f input:required:valid {
    border-bottom: solid 4px limegreen;
}

/*image gallery*/


figcaption {
    padding-top: 1rem;
}
/*footer*/


footer {
    height: 10rem;
    width: auto;
    border: 7px ridge var(--accent2-color);
    border-radius: 15px;
    text-align: center;
    color: var(--heading_and_accent1-color);
    background-color: var(--background-color-2);
    box-shadow: rgb(17, 14, 17, .75) 5px 5px inset;
    padding-bottom: 10px;
    margin-top: 1rem;
}