:root {
    --heading-font: "Audiowide", sans-serif;
    --non-heading-font: "Geo", sans-serif;
    --heading-color: rgb(102, 37, 133);
    --accent-color: rgb(252, 240, 72);
    --background-color-1: rgb(253, 242, 142);
    --background-color-2: rgb(220, 201, 224);
    --text-color: rgb(17, 14, 17);
    --neutral: rgb(238, 238, 238);

}

html {
    color: var(--text-color);
    display: grid;
}

h1 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    text-align: center;
    font-size: 2rem;
    background-color: var(--background-color-1);
}

h2 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    font-size: 1.5rem;
}


.card {
    font-family: var(--non-heading-font);
    border: 5px;
    border-style: groove;
    text-align: center;
    background-color: var(--background-color-1);
}

.navigation {
    list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: var(--background-color-2);
	align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--heading-color);
}

.navigation li {
	flex: 1 1 auto;
}
.navigation a {
    font-size: 24px;
    font-family: var(--heading-font);
	display: block;
	color: var(--heading-color);
	text-decoration: none;
    margin: 10px 40px;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: var(--accent-color);
}

.highlight {
	color: var(--heading-color);
	font-weight: 700;
	font-family: var(--heading-font);
}

footer {
    height: 8rem;
    width: auto;
    border: 5px;
    border-style: groove;
    text-align: center;
    font-family: var(--non-heading-font);
    color: var(--heading-color);
    background-color: var(--background-color-2);
    border-color: var(--accent-color);
}