
body {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

header {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(147, 255, 246);
  padding: 1rem;
  grid-column: 1 / 4;
}

main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 125vh;
  background: rgb(255, 185, 159);
  grid-column: 1 / 3;
}

aside {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(255, 255, 94);
  grid-column: 3 / 4;
}

footer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(85, 185, 177);
  padding: 1rem;
  text-align: center;
  grid-column: 1 / 4;
}



.navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(85, 185, 177);
	align-items: center;
  text-align: center;
  justify-content: center;
}
.navigation li {
	flex: 1 1 auto; /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}
.navigation a {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
	color: #eee;
	padding: 0rem 0.50rem;
	text-decoration: none;
  margin: 0rem 4rem ;
}

.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: lemonchiffon;
}