:root {
    --heading-font: "Audiowide", sans-serif;
    --non-heading-font: "Geo", sans-serif;
    --heading-color: rgb(37, 43, 133);
    --accent-color: rgb(252, 195, 72);
    --background-color-1: rgb(255, 219, 143);
    --background-color-2: rgb(74, 79, 143);
    --text-color: rgb(15, 14, 17);
    --neutral: rgb(238, 238, 238);
}

body {
    font: var(--non-heading-font);
    font-family: var(--non-heading-font);
}

h1 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    text-align: center;
    font-size: 2rem;
    background-color: var(--background-color-1);
    margin-bottom: 2rem;
}


/*----------- FORM STYLING --------------*/
.rf1 fieldset {
    border: var(--accent-color) 5px groove;
    font-family: var(--non-heading-font);
    margin: 5px 0;
    display: block;
    background-color: var(--background-color-1);
}

.rf1 legend {
    font-family: var(--heading-font);
    color: var(--heading-color);
}

.rf1 div {
    margin: 1rem 0;
}

.rf1 input[type="date"], 
.rf1 input[type="text"],
.rf1 select 
{
    background-color: rgb(230, 230, 230);
    display: block;
    padding: .75rem;
    width:100%;
    max-width: 400px;
    appearance: none;
}

/* Radio

/* Make sure items are a good size for fingers in mobile views. */
.rf1 input[type="submit"]{
    border-radius: 6px;
    background-image: radial-gradient(var(--heading-color),var(--background-color-2));
    color: var(--neutral);
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin-left: 1rem;
    font: var(--heading-font);
}

/* Tells you when required inputs are valid*/
.rf1 input:required {
    color: red;
    border-bottom: solid 4px red;
}

.rf1 input:required:valid {
    color: green;
    border-bottom: solid 4px green;
}


/*footer*/
footer {
    height: 10rem;
    width: auto;
    border:var(--accent-color) 5px groove;
    text-align: center;
    font-family: var(--non-heading-font);
    color: var(--heading-color);
    background-color: var(--background-color-1);
    margin-top: 2rem;
}



