:root {
    --heading-font: "Audiowide", sans-serif;
    --non-heading-font: "Geo", sans-serif;
    --heading-color: rgb(37, 43, 133);
    --accent-color: rgb(252, 195, 72);
    --background-color-1: rgb(255, 219, 143);
    --background-color-2: rgb(74, 79, 143);
    --text-color: rgb(15, 14, 17);
    --neutral: rgb(238, 238, 238);

}

main {
    font: var(--non-heading-font);
}

h1 {
    font-family: var(--heading-font);
    color: var(--heading-color);
    text-align: center;
    font-size: 2rem;
    background-color: var(--background-color-1);
    margin-bottom: 2rem;
}

footer {
    height: 8rem;
    width: auto;
    border: 5px;
    border-style: groove;
    text-align: center;
    font-family: var(--non-heading-font);
    color: var(--heading-color);
    background-color: var(--background-color-1);
    border-color: var(--accent-color);
    margin-top: 2rem;
}

/*----------- FORM STYLING --------------*/

.rf1 fieldset {
    margin: 2rem 0;
    border: 1px; 
    border-color:red;
    padding: .5rem;
}



